{% extends "layout.twig" %}
 {% block content %}
     <div class="container">
         {% for user in users %}
             {% if user.id != loginUser %}
                 <div class="col-sm-4">
                     <div class="panel panel-success">
                         <div class="panel-heading">One of Users</div>
                         <div class="panel-body">
                             <div> {{ user.name }}</div>
                             <div> {{ user.surname }}</div>
                             <div> {{ user.birthday }}</div>
                         </div>
                         <div class="panel-footer">
                             <form method="post" action="invite/{{ user.id }}">
                                 <button class="btn btn-primary">Invite</button>
                             </form>
                         </div>
                     </div>
                 </div>
             {% endif %}
         {% endfor %}
     </div>
 {% endblock %}
