<nav>
    <h1>All articles</h1>
    <a href="/">Back</a> |
    <a href="/articles/create">Create new Article</a>
    <br><br>
</nav>
<ul id="navigation">
    {% for article in articles %}
    <li>
        <a href="/articles/{{ article.id }}">
            {{ article.title }}
        </a>
        <form method="post" action="articles/{{ article.id }}/delete" h>
            <button onclick="return confirm('Really Delete?')">X</button>
        </form>
    </li>
    {% endfor %}
</ul>