{% extends "layout.twig" %}
{% block content %}
<nav>
    <h1>Login</h1>
    <a href="/">Back</a>
    <br><br>
</nav>

<form method="post" action="users/signIn" style="text-align: center">
    <h1>Login</h1>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="email"  style="margin: 10px" required>
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="password"  style="margin: 10px" required>
    <br>
    <input type="submit" name="login" value="Login" style="margin: 10px">
</form>
    <br><br>
{% endblock %}