{% extends "layout.twig" %}
{% block content %}
    <nav>
        <h1>Error</h1>
        <a href="/">Try again</a>
        <br><br>
    </nav>
    <h1>Attention!!!
        <br><br>
        If signing in: This email already registered!
        <br><br>
        If logging in: Wrong email or password!
    </h1>
    <br><br>
{% endblock %}

ķ