<!DOCTYPE html>
<html>
<head>
        <title>FriendsApp</title>
        Hello {{ userFirstName }}!
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">

        &copy; Copyright 2022 FriendsApp
</div>
</body>
</html>
